---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px; /* Space between figures */
}

.image-column {
  width: 48%; /* Adjust for desired width */
}

.image-column img {
  width: 100%;
  height: auto;
}

.image-column caption {
  font-size: 0.7em;
  text-align: center;
  color: #555;
}
