---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px; /* Space between figures */
}

.image-column {
  width: 48%; /* Adjust for desired width */
}

.image-column img {
  width: 100%;
  height: auto;
  margin-top: 20px; 
}

.image-column .image-caption {
  font-family: Georgia, Times, serif;
  font-size: .8em;
  text-align: center;
  color: #000;
  margin-top: 8px;
}


/* Your Custom Styles */
/*
.mobile-only { display: none; }
.desktop-only { display: block; }

@media (max-width: 767px) {
  .mobile-only { display: block; }
  .desktop-only { display: none; }
}

*/
